* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #1e1e2f;
}

.logo {
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    height: 90vh;
    background: #4f46e5;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    margin-top: 15px;
    padding: 10px 20px;
    background: white;
    color: #4f46e5;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #e0e7ff;
    transition: 0.3s;
    transform: translateY(-5px);
}

.features {
    padding: 50px;
    text-align: center;
}

.feature-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    padding: 20px;
    background: #f3f4f6;
    border-radius: 8px;
    width: 180px;
}

.card:hover {
    background: #e0e7ff;
    cursor: pointer;
    transition: 0.4s;
    transform: translateY(-5px);
    
}

.form-section {
    padding: 50px;
    background: #eef2ff;
    text-align: center;
}

form {
    max-width: 300px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #4f46e5;
    color: white;
    border: none;
    cursor: pointer;
}

small {
    color: red;
}

.counter-section {
    padding: 50px;
    text-align: center;
}

.counter-buttons button {
    margin: 5px;
    width: auto;
}

footer {
    background: #1e1e2f;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {
    .feature-box {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
    }
}
